<section class="artists">

	<h3>Artists</h3>

	<div class="isotope-container">

		<article class="isotope-item">
			<a href="/artist/irukanji">
				<div class="image-contour">
					<img src="/assets/img/artists/irukanji-thumbnail.jpg" alt='irukanji'>
				</div>
				<h4>Irukanji</h4>
			</a>
		</article>

		<article class="isotope-item">
			<a href="/artist/neirula">
				<div class="image-contour">
					<img src="/assets/img/artists/neirula-thumbnail.jpg" alt='neirula'>
				</div>
				<h4>NeiRula</h4>
			</a>
		</article>

	</div>

</section>
