<footer>
	<section>


		<nav>
			<a href="https://aquadeep.bandcamp.com" target="_blank">bandcamp</a>
			<a href="https://www.facebook.com/aqua.deep.music" target="_blank">facebook</a>
			<a href="https://soundcloud.com/aqua-deep-music" target="_blank">soundcloud</a>
			<a href="http://www.discogs.com/label/173217-Aqua-Deep-Music" target="_blank">discogs</a>
			{% include svg-icons.html %}
		</nav>

		<nav>
			<a href="http://sentimony.com">Sentimony Records</a>
			<a href="http://aquadeepmusic.com">Aqua Deep Music</a>
			<a href="http://sentimony.com">Lookinglook Records</a>
		</nav>

		<p class="copyright">Aqua Deep Music 2009 - 2015 © All Rights Reserved</p>

	</section>
</footer>

