<section class="releases">
	<h3>Releases</h3>
	<div class="isotope-container">
		{% for releases in site.categories.releases%}
			<article class="isotope-item">
				<a href="{{site.baseurl}}{{releases.url}}">
					<div class="image-contour">
						<img src="{{site.baseurl}}/assets/img/releases/{{releases.cat-no}}-thumbnail.jpg" alt='{{releases.artist}} "{{releases.release-title}}"'>
					</div>
					<h4>{{releases.artist}} <span>"{{releases.release-title}}"</span></h4>
				</a>
			</article>
		{% endfor %}
	</div>
</section>
