<section class="releases">
	<div class="vertical-centering">

		<h3>Releases</h3>

		<div class="isotope-container">

			<article class="isotope-item">
				<a href="/adcd02">
					<div class="cover">
						<img src="/assets/img/releases/adcd02-thumbnail.jpg" alt='Cifroteca & Roof Raiser "Wild Storm"'>
					</div>
					<h4>Cifroteca & Roof Raiser "Wild Storm"</h4>
				</a>
			</article>

			<article class="isotope-item">
				<a href="/adcd01">
					<div class="cover">
						<img src="/assets/img/releases/adcd01-thumbnail.jpg" alt='VA "Ocean Scenes: Higher Titans"'>
					</div>
					<h4>VA "Ocean Scenes: Higher Titans"</h4>
				</a>
			</article>

		</div>

	</div>
</section>
