<section class="releases">

	<h3>Releases</h3>

	<div class="isotope-container">

		<article class="isotope-item">
			<a href="/release/adcd02">
				<div class="image-contour">
					<img src="/assets/img/releases/adcd02-thumbnail.jpg" alt='Cifroteca & Roof Raiser "Wild Storm"'>
				</div>
				<h4>Cifroteca & Roof Raiser <span>"Wild Storm"</span></h4>
			</a>
		</article>

		<article class="isotope-item">
			<a href="/release/adcd01">
				<div class="image-contour">
					<img src="/assets/img/releases/adcd01-thumbnail.jpg" alt='Various Artists "Ocean Scenes: Higher Titans"'>
				</div>
				<h4>Various Artists <span>"Ocean Scenes: Higher Titans"</span></h4>
			</a>
		</article>

	</div>

</section>
