.header {
    height: 125%;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    background: $bg-color-secondary;
    background-size: cover;

    .content {
        position: absolute;
        top: -80px;
        right: 0;
        left: 0;
        bottom: 25%;

        hgroup {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));

            h1 {
                font-size: 100px;
                color: $accent-color;
                margin: 0 0 20px;
                letter-spacing: 14px;
                text-shadow: 1px 1px 0 #000;
            }

            h2 {
                font-size: 20px;
                color: $accent-color;
                margin: 0;
                letter-spacing: 20px;
                line-height: 2;
                text-shadow: 1px 1px 0 #000;
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(/assets/img/header-bg.jpg) center no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 0;
    }
}