header 
	height: 125%
	width: 100%
	position: relative
	display: inline-block
	text-align: center
	background: #000
	// background: url(/assets/img/header-bg.jpg) center no-repeat
	background-size: cover

	.content
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		
		hgroup
			position: absolute
			top: 45%
			left: 50%
			transform: translate(-50%, -50%)
			// display: inline-block
			// border: 10px solid #fff
			// padding: 30px 60px
			// background: rgba(0,0,0,.5)
			// border-radius: 100%
			// padding: 10px

			h1
				font: 
					size: 100px
				color: #fff
				margin: 0 0 20px
				letter-spacing: 14px
				font-weight: 400
				text-shadow: 1px 1px 0 #000

			h2
				// font-family: 'Crimson Text', serif
				// text-transform: lowercase
				font: 
					size: 20px
				color: #fff
				margin: 0
				letter-spacing: 20px
				font-weight: 400
				line-height: 2
				text-shadow: 1px 1px 0 #000

	.overlay
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		// background: #000
		background: url(/assets/img/header-bg.jpg) center no-repeat
		background-size: cover
		z-index: 0
		opacity: 0