.releases {
	margin: 120px auto;
	width: 75%;
	h2 {
		margin: 0 0 80px;
		text-align: center;
		letter-spacing: 5px;
	}
	article {
		float: left;
		width: 50%;
		a {
			display: block;
			margin: 0 7.5%;
			border: 2px solid #000;
			@include transition(all 0.05s $ease-out-quart);
			.image-contour {
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
					display: block;
					@include transform(scale(0.825) translateZ(0));
					@include transition(all 2.95s $ease-out-quart);
				}
			}
			h4 {
				position: relative;
				top: 0;
				border-top: 2px solid $divider-color;
				margin: 0;
				overflow: hidden;
				text-align: center;
				padding: 20px 10px 20px;
				background: #000;
				color: $accent-color;
				text-shadow: 0 0 0 $accent-color;
				@include transition(all 0.95s $ease-out-quart);
					span {
						display:block;
					}
			}
			&:hover {
				border-color: $divider-color;
				.image-contour {
					img {
						@include transform(scale(1.1) translateZ(0));
					}
				}
				h4 {
					top: -20px;
					text-shadow: 0 22px 12px $accent-color;
				}
			}
		}
	}
}

