nav.nav-main {
	position: relative;
	z-index: 9999;
	&.nav-top {
		position: fixed;
		top: 0;
		width: 100%;
		text-align: center;
		background-color: $bg-color;
		border-bottom: 2px solid $divider-color;
		padding: 15px 0;
		@include transition(all 0.5s);

		a {
			text-transform: uppercase;
			font-weight: 700;
			padding: 14px 20px;
			font-size: 20px;
			letter-spacing: 4px;
			line-height: 20px;
			display: inline-block;
			font-family: 'Julius Sans One', sans-serif;
			@include transition(all 0.5s);
			color: $link-color;
			text-shadow: 0 0 0 $link-color;
			&:hover {
				color: lighten($link-color, 20%);
				text-shadow: 0 6px 4px $link-color-hover, 0 -6px 4px $link-color-hover;
			}
			&.active,
			&.active:hover {
				color: $$primary-color;
				text-shadow: 0 0 4px $$primary-color;
			}
		}
	}
	&.nav-top-large {
		a {
		}
	}
	&.nav-top-small {
		border-bottom-width: 1px;
		padding: 0;
		a {
			font-size: 16px;
			letter-spacing: 2px;
		}
	}
	a {
		&.active,
		&.active:hover {
			color: $$primary-color;
		}
	}
}
.zoom-overlay-open nav.nav-main {
	top: -80px;
}
