<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Aqua Deep Music</title>
	<meta name="description" content="Aqua Deep Music">
	<meta name="keywords" content="Aqua Deep Music">
	<meta name="author" content="Ihor Orlovskyi">

	<link rel="shortcut icon" href="/assets/img/favicons/favicon-32x32.png">  
	<link href="http://fat.github.io/zoom.js/css/zoom.css">
	<link rel="stylesheet" href="/assets/css/main.css" />

	<!-- favicomatic -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicomatic/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicomatic/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/assets/img/favicomatic/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/img/favicomatic/favicon-16x16.png" sizes="16x16" />
	<meta name="application-name" content="Geometric Theme by Le Coq Studio" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/assets/img/favicomatic/mstile-144x144.png" />

</head>
<body>

	{{ content }}

	<script src="/assets/js/vendor/jquery-2.1.1.min.js"></script>
	<script src="/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/js/vendor/isotope.pkgd.min.js"></script>
	<script src="/assets/js/vendor/waypoints.min.js"></script>
	<!-- <script src="http://fat.github.io/zoom.js/js/zoom.js"></script> -->
	<script src="/assets/js/main.js"></script>

	{% include analytics.html %}

</body>
</html>
