---
layout: default
---

<article class="release">

	<img src="{{site.baseurl}}/assets/img/releases/{{page.cat-no}}-thumbnail.jpg" alt='{{page.title}}'>
	<h1>{{page.title}}</h1>
	<ul class="list">
		<li>Artist: <span>{{page.artist}}<span></li>
		<li>Title: <span>"{{page.release-title}}"<span></li>
		<li class="cat-no">Cat.No: <span>{{page.cat-no}}<span></li>
		<li>Release Date: <span>{{ page.date | date: "%d %b %Y" }}<span></li>
		<li>Total Time: <span>{{ page.total-time}}<span></li>
	</ul>

	{{content}}

</article>